body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #e5e5e6, #6dd5ed);
}


.navbar {
    display: flex;
    justify-content: space-between;
    background: #003366;
    color: white;
    padding: 15px;
}

nav {
    margin-right: 5%;
    margin-top: 1.25%;
}

nav a {
    display: inline-block;
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    transition: all 0.3s ease;
}

.navbar nav a:hover {
    transform: scale(1.15);
    color: #00ccffa2;
}


.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
    color: white;
}

.propuesta {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #83afb9c7, #71a4af);
}

.votacion {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background: linear-gradient(135deg, #56a0b3c7, #6dd5ed);
    color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

button {
    border-radius: 10px;
    background: #ff9800;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #e68900;
    transform: scale(0.95);
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: #003366;
    color: white;
}